*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(rgb(11, 29, 32), rgb(48,62,143));
    height:100vh;
    /* background: black; */
}

.card{
    width:90%;
    max-width: 400px;
    background: linear-gradient(135deg, #2cdaacf6, #ce5151da);
    color: #fff;
    margin: 20px auto;
    
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

    
}

.search{
    width : 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;

}

.search input{
    width : 10px;
    border: 0;
    outline: 0;
    background : #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 45px;
    border-radius: 25px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}

.search button{
    
    border: 0;
    outline: 0;
    background : #ebfffc;
    border-radius: 50%;
    width : 45px;
    height: 45px;
    cursor: pointer;
}

.search button img{
    width: 15px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;

}

.weather h1{
    font-size: 60px;
    font-weight:500;
    font-family: ubuntu;
}

.weather h2{
    font-size: 45px;
    font-weight:400;
    margin-top: -10px;
    font-family: ubuntu;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}

.col
{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
    /* padding: 3px; */
}

.humidity, .wind{
    font-size: 25px;
    margin-top: -6px;
    font-family: josefin sans;
    
}
.col p{
    font-family: josefin sans;
}


.weather{
    display: none;
    
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    padding-top: 20px; 
    padding-bottom: 30px; 
}

.head h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    color: rgba(69, 255, 240, 0.436);
}


@media only screen and (max-width: 410px) {
    body{
        /* background: rgb(11, 29, 32); */
        background: linear-gradient(rgb(11, 29, 32), rgb(48,62,143));
    }
    .search input{
        width : 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card{
        width:70%;
    }

    .weather-icon{
            width : 100px;
    }

    .weather h1{
        font-size: 40px;
    }
    .weather h2{
        font-size: 25px;
    }

    .col img{
        width: 20px;
        margin-right: 5px;
        
    }
    .col{
        padding: 5px;
    }
    
    .humidity, .wind{
        font-size: 15px;
        margin-top: -6px;
        font-family: josefin sans;
        
    }
    .col p{
        font-family: josefin sans;
        font-size: 12px;
       
    }

  }



